@model IEnumerable<MVCAlunos.Models.AlunoModel>


@{
    ViewData["Title"] = "Tabela de Alunos";
}

<h1 style="margin: 40px 0 40px 0;">Tabela de Alunos</h1>
<p>
    <a asp-action="Create" style="color: inherit; text-decoration: none;">
        <button type="button" class="btn btn-success">
            Adicionar Aluno
        </button>
    </a>
    <form asp-controller="Alunos" asp-action="Index" method="get">
        <div style="font-weight: bold; margin-bottom: 20px;">Busca</div>
        <div class="input-group mb-3" style="width: 20em;">
            <input type="text" name="SearchString" placeholder="Insira nome/matricula" class="form-control" />
            <input type="submit" value="Filter" class="btn btn-outline-secondary" />
        </div>
    </form>


</p>
<table class="table table-striped">
    <thead class="table-dark">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Matricula)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Nome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Sexo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Nascimento)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cpf)
            </th>
            <th style="display: flex; justify-content: flex-end; padding-right: 40px">Opções</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Matricula)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Nome)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Sexo)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Nascimento)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Cpf)
                </td>
                <td style="display: flex; justify-content: flex-end;">
                    <div>
                        <a asp-action="Edit" asp-route-id="@item.Matricula" style="color: inherit; text-decoration: none;">
                            <button type="button" class="btn btn-outline-dark">
                                <i class="bi bi-pencil-fill"></i>
                            </button>
                        </a>
                        <a asp-action="Details" asp-route-id="@item.Matricula" style="color: inherit; text-decoration: none;">
                            <button type="button" class="btn btn-outline-dark">
                                <i class="bi bi-list"></i>
                            </button>
                        </a>
                        <a asp-action="Delete" asp-route-id="@item.Matricula" style="color: inherit; text-decoration: none;">
                            <button type="button" class="btn btn-outline-danger">
                                <i class="bi bi-trash-fill"></i>
                            </button>
                        </a>
                    </div>
                </td>
            </tr>
        }
    </tbody>
</table>
